.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

.column {
  display: inline-block;
  overflow-y: auto;
  padding: 3px;
  vertical-align: top;
}

.input-field {
  width: 100%;
}

table {
  width: 100%;
}
